# На каких данных проводится сравнение
В этом ноутбуке рассматривается датасет https://huggingface.co/datasets/ai-forever/ria-news-retrieval

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
basePath = os.path.abspath('')
queries = pd.read_json(basePath + "\\ai-forever-ria-news-retrieval\\queries.jsonl", lines=True)
corpus = pd.read_json(basePath + "\\ai-forever-ria-news-retrieval\\corpus.jsonl", lines=True)
test = pd.read_json(basePath + "\\ai-forever-ria-news-retrieval\\test.jsonl", lines=True)
del corpus['title']
del test['score']

### Запросы

In [4]:
queries

       _id                                               text
0        0  сми: планируется создание в рф несетевых магаз...
1        1  барулин сожалеет, что набокова нет на хоккейно...
2        2  британские куры забили насмерть лису, проникшу...
3        3  путин: сотрудники овд получат выплаты на приоб...
4        4  футболист "зенита" данни пропустит стыковые иг...
...    ...                                                ...
9995  9995  фьючерсы на индексы сша растут в преддверии ро...
9996  9996            ламберто заньер. биографическая справка
9997  9997  инспектор гибдд новосибирска хотел купить инфо...
9998  9998  логистический комплекс на 600 тыс кв м могут п...
9999  9999  житель удмуртии, два часа державший студентку ...

[10000 rows x 2 columns]

### Тексты

In [5]:
corpus

           _id                                               text
0            0  премьер-министр украины, кандидат в президенты...
1            1  группа вооруженных людей в ночь с субботы на ...
2            2  немецкий теннисист михаэль беррер стал победи...
3            3  генеральный секретарь оон пан ги мун заявил в...
4            4  леверкузенский "байер" со счетом 3:1 на свое...
...        ...                                                ...
704339  704339  главными стратегическими учениями для армии ро...
704340  704340  ракетные войска стратегического назначения (р...
704341  704341  сухопутные войска россии в 2015 году примут у...
704342  704342  полиция мексиканского города чилапа в штате ге...
704343  704343  крупный пожар начался в одном из цехов в севе...

[704344 rows x 2 columns]

### Релевантные пары запрос-текст

In [6]:
test

      query-id  corpus-id
0            0     670487
1            1     116739
2            2      26225
3            3     288389
4            4     256787
...        ...        ...
9995      9995     693013
9996      9996     179683
9997      9997     552522
9998      9998     653476
9999      9999     454786

[10000 rows x 2 columns]

### Проблемное место датасета

In [7]:
corpus[corpus['text'] == ""]

       _id text
3840  3840

### Максимальная и средняя длина текста в символах

In [8]:
corpus.text.map(len).max()

2000

In [9]:
corpus.text.map(len).mean()

1165.6429557148213